@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Fira Code";
    src: url("../assets/fonts/FiraCode-Regular.ttf") format("truetype");
    font-weight: 400;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
}
