@use 'reset';
@use 'variables';
@use 'common';
@use 'tooltips';

html,
body {
    background-color: var(--options-page-background);
    color: var(--color-text);
    min-height: 100vh;
}

.toggle-switch {
    $this-switch: &;
    --switch-padding-px: 0px;
    --switch-margin-px: 0px;
    --switch-height-px: 30px;
    --switch-width-px: 30px;
    --track-color-off: hsl(0, 0%, 15%);
    --track-color-on: var(--color-accent);
    --track-height-px: 6px;
    --track-radius-px: 12px;
    --nub-height-px: 16px;
    --nub-width-px: 16px;
    --nub-radius-px: 8px;
    --nub-color-off: var(--color-grey-60);
    --nub-color-on: var(--color-grey-90);
    --nub-color-focus: var(--color-accent);
    --nub-travel-distance: calc(
        var(--switch-width-px) / 2 - var(--nub-width-px) / 2 -
            var(--switch-padding-px)
    );

    cursor: pointer;
    display: inline-flex;
    height: var(--switch-height-px);
    margin: 0 var(--switch-margin-px);
    position: relative;
    width: var(--switch-width-px);

    // .toggle-switch__track
    &__track {
        bottom: 0;
        background-color: var(--track-color-off);
        border-radius: var(--track-radius-px);
        display: flex;
        height: var(--track-height-px);
        justify-content: center;
        left: 0;
        margin: auto;
        padding: var(--switch-padding-px);
        position: absolute;
        right: 0;
        top: 0;
        transition: background-color 0.15s;
        width: var(--switch-width-px);

        input[type="checkbox"]:checked + #{$this-switch} & {
            background-color: var(--track-color-on);
        }
    }

    // .toggle-switch__nub
    &__nub {
        bottom: 0;
        background-color: var(--nub-color-off);
        border-radius: var(--nub-radius-px);
        box-shadow: inset 0 0 0 2px var(--nub-color-off);
        height: var(--nub-height-px);
        left: 0;
        margin: auto;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(calc(var(--nub-travel-distance) * -1));
        transition: transform 0.15s, background-color 0.15s;
        width: var(--nub-width-px);

        input[type="checkbox"]:checked + #{$this-switch} & {
            background-color: var(--nub-color-on);
            box-shadow: inset 0 0 0 2px var(--nub-color-on);
            transform: translateX(var(--nub-travel-distance));
        }

        input[type="checkbox"]:focus + #{$this-switch} & {
            background-color: var(--nub-color-focus);
        }
    }
}

#search-tailor-options-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.options-title {
    font-size: 2.6rem;
    font-weight: 300;
    margin: 0 0 20px 0;
}

.options-panel {
    background-color: var(--options-panel-background);
    border-radius: var(--options-panel-radius);
    color: var(--options-panel-text);
    display: flex;
    flex-direction: column;
    max-width: 768px;
    width: 100%;

    & + & {
        margin-block-start: 20px;
    }

    // .options-panel__header
    &__header {
        display: flex;
        padding: 12px 20px;
        border-bottom: 2px solid var(--color-accent);

        // .options-panel__header__title
        &__title {
            font-size: 1.8rem;
            font-weight: 400;
            margin: 0;
        }

        // .options-panel__header__notice
        &__notice {
            fill: var(--options-panel-text);
            font-size: 1.2rem;
            margin-left: auto;
            display: flex;
            align-items: center;
        }
    }

    // .options-panel__body
    &__body {
        padding: 20px;
    }
}

.option-group {
    & + & {
        margin-block-start: 10px;
    }

    // .option-group__title
    &__title {
        font-size: 1.4rem;
        font-weight: 700;
        margin: 0 0 10px 0;
    }

    // .option-group__action-container
    &__action-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    // .option-group__action
    &__action {
        all: unset;
        border: 1px solid var(--options-action-border);
        border-radius: 4px;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.08rem;
        margin-top: 8px;
        padding: 8px 14px;
        text-transform: uppercase;

        &:hover,
        &:focus,
        &:active {
            background-color: var(--options-action-highlight);
        }

        &::-moz-focus-inner {
            border: 0;
        }

        & + & {
            margin-left: 8px;
        }

        &[disabled] {
            background-color: hsl(0, 0%, 88%);
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}

.option {
    $this-option: &;

    align-items: center;
    display: flex;
    font-size: 1.3rem;

    // .option--search-engine-toggle
    &--search-engine-toggle {
        padding: 0 10px;
        position: relative;

        & + & {
            border-top: 1px solid var(--options-option-border);
            margin-top: 6px;
            padding-top: 6px;
        }
    }

    // .option--raw-json
    &--raw-json {
        background-color: var(--options-json-input);
        border-radius: 4px;
        border-bottom-right-radius: 2px;
        height: 200px;
        min-height: 200px;
        overflow: scroll;
        resize: vertical;
    }

    &[data-validation-message] {
        $this-validation-wrapper: &;

        &::after {
            background-color: hsl(0, 100%, 50%, 0.35);
            bottom: 0;
            content: attr(data-validation-message);
            color: hsl(0, 100%, 100%);
            left: 0;
            opacity: 0;
            padding: 8px 12px;
            pointer-events: none;
            position: absolute;
            transition: opacity 0.25s;
            width: 100%;

            @at-root #{$this-validation-wrapper}:not([data-validation-message=""])::after {
                opacity: 1;
            }
        }
    }

    // .option__control
    &__control {
        height: 30px;
        margin-left: auto;

        #{$this-option}--color-hint-background & {
            border-radius: 2px;
            display: inline-flex;
            height: 30px;
            overflow: hidden;
        }
    }

    // .option__input
    &__input {
        font-size: 1.2rem;

        // .option__input--search-engine-toggle
        &--search-engine-toggle {
            height: 100%;
            left: 0;
            margin: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        // .option__input--color-hint-background-swatch
        &--color-hint-background-swatch {
            cursor: pointer;
            display: block;
            height: 30px;
            padding: 0;
            width: 40px;

            &::-moz-color-swatch-wrapper {
                padding: 0;
            }

            &::-webkit-color-swatch-wrapper {
                padding: 0;
            }

            &::-moz-color-swatch {
                border: none;
            }

            &::-webkit-color-swatch {
                border: none;
            }
        }

        // .option__input--color-hint-background-hex
        &--color-hint-background-hex {
            background-color: var(--options-color-hex-input);
            font-family: "Fira Code", monospace;
            height: 100%;
            padding: 0;
            text-align: center;
            width: 80px;

            &:invalid {
                color: var(--color-error);
            }
        }

        // .option__input--raw-json
        &--raw-json {
            background-color: transparent;
            border: 0;
            color: var(--options-panel-text);
            margin: 0;
            min-height: 100%;
            padding: 10px;
            position: relative;
            resize: none;
            white-space: pre;
            width: 100%;
        }
    }

    // .option__label
    &__label {
    }
}
