@use 'reset';
@use 'variables';
@use 'common';
@use '../../node_modules/tippy.js/dist/tippy';

html,
body {
    background-color: var(--popup-entry-background);
    border-radius: 2px;
    overflow: hidden;
}

main {
    background-color: var(--popup-entry-container-background);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;

    &[data-dragging-active] * {
        cursor: grabbing;
    }
}

/**
 * The title bar at the top of the popup interface that contains external links
 * to extension-related resources.
 */
.title-bar {
    align-items: center;
    background-color: var(--popup-header-background);
    border-bottom: 2px solid var(--color-accent);
    display: flex;
    flex: 0 0 var(--popup-header-height);
    padding: 0 var(--popup-header-action-spacing);

    // .title-bar__logo
    &__logo {
        height: 32px;
        padding: 4px 0;
        width: 32px;

        img {
            display: block;
            margin: 0 auto;
            max-height: 100%;
            max-width: 100%;
        }
    }

    // .title-bar__action-container
    &__action-container {
        display: flex;
        margin-left: auto;
    }

    // .title-bar__action
    &__action {
        $title-bar-action: &;

        align-items: center;
        border-radius: var(--popup-header-action-radius);
        display: flex;
        height: var(--popup-header-action-size);
        justify-content: center;
        width: var(--popup-header-action-size);
        overflow: hidden;
        position: relative;

        &::before {
            background-color: var(--popup-header-action-highlight);
            content: "";
            height: 100%;
            left: 50%;
            opacity: 0;
            position: absolute;
            pointer-events: none;
            top: 50%;
            transition: opacity 0.35s;
            transform: translate(-50%, -50%);
            width: 100%;

            @at-root {
                #{$title-bar-action}:hover::before,
                #{$title-bar-action}:focus::before,
                #{$title-bar-action}:active::before {
                    opacity: 1;
                }
            }
        }

        &[disabled] {
            cursor: not-allowed;
            opacity: 0.5;
        }

        & + & {
            margin-left: 2px;
        }

        // .title-bar__action__icon
        &__icon {
            fill: var(--popup-icon-fill);
            position: relative;
            width: 18px;
        }
    }
}

/**
 * The container for the list of tailoring entries.
 */
.entry-container {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: scroll;
    position: relative;
    scrollbar-width: none;
    z-index: 1;

    &::-webkit-scrollbar {
        display: none;
    }

    &::after {
        content: "";
        flex: 0 0
            calc(
                var(--popup-action-bar-height) +
                    (var(--popup-action-bar-padding) * 2)
            );
        width: 100%;
    }
}

/**
 * Individual tailoring entries.
 */
.entry {
    $this-entry: &;

    flex: 0 0 auto;
    height: var(--popup-entry-height);
    width: var(--popup-entry-width);

    &[data-is-being-inserted="true"] {
        animation: insertEntry 350ms forwards;
        pointer-events: none;
    }

    // Fade-in animation for entry insertion.
    @keyframes insertEntry {
        0% {
            opacity: 0;
            overflow: visible;
        }

        100% {
            opacity: 1;
            overflow: hidden;
        }
    }

    &[data-is-being-deleted="true"] {
        animation: deleteEntry 700ms forwards;
        pointer-events: none;
    }

    // Slide-and-shrink animation for entry deletion.
    @keyframes deleteEntry {
        // Begin with unaltered values. Height is set to a static value with
        // JavaScript before triggering the animation via data attribute.
        0% {
            height: var(--popup-entry-height);
            opacity: 1;
            overflow: visible;
            transform: translate(0);
        }

        // Slide the entry out to the right and set its overflow to hidden to
        // prevent any child elements from propping the entry container open.
        50% {
            height: var(--popup-entry-height);
            opacity: 1;
            overflow: hidden;
            transform: translate(calc(100% + var(--popup-entry-padding)));
        }

        // Shrink the entry down to nothing. JavaScript will listen for the
        // animationend event and finally remove the entry from the DOM.
        100% {
            height: 0;
            opacity: 0;
            overflow: hidden;
            transform: translate(calc(100% + var(--popup-entry-padding)));
        }
    }

    // Prevent hover effects on inner elements while dragging.
    [data-dragging-active] & * {
        pointer-events: none;
    }

    // .entry__ui-container
    &__ui-container {
        background-color: var(--popup-entry-background);
        border-radius: var(--radius-outer);
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        overflow: hidden;
        position: relative;
    }

    // .entry__header
    &__header {
        align-items: center;
        display: flex;
        height: 22px;
        padding: 0 4px;
    }

    // .entry__sort-handle
    &__sort-handle {
        cursor: grab;
        flex: 1 0 auto;

        // .entry__sort-handle__icon
        &__icon {
            display: block;
            transform: rotate(90deg);
        }
    }

    // .entry__setting-hint-container
    &__setting-hint-container {
        align-items: center;
        display: flex;
        height: 100%;
    }

    // .entry__setting-hint
    &__setting-hint {
        $this-setting-hint: &;
        --setting-hint-spacing: 4px;

        align-items: center;
        cursor: help;
        display: flex;
        flex: 0 0 auto;

        // .entry__setting-hint--opacity
        &--opacity {
            height: 18px;
        }

        // .entry__setting-hint--treatment-color
        &--treatment-color {
            --setting-hint-size: 14px;
            --setting-hint-padding: 1px;
            --setting-hint-radius-outer: calc(var(--setting-hint-size) / 2);
            --setting-hint-radius-inner: calc(
                var(--setting-hint-radius-outer) - var(--setting-hint-padding)
            );

            background-color: var(--popup-entry-treatment-base);
            border-radius: var(--setting-hint-radius-outer);
            height: var(--setting-hint-size);
            padding: var(--setting-hint-padding);
            width: var(--setting-hint-size);

            [data-colorization-enabled="false"] & {
                display: none;
            }

            &::before {
                border-radius: var(--setting-hint-radius-inner);
                content: "";
                height: 100%;
                width: 100%;

                @at-root {
                    #{$this-setting-hint}--background::before {
                        background-color: var(
                            --popup-entry-treatment-background
                        );
                    }

                    #{$this-setting-hint}--border::before {
                        background-color: var(--popup-entry-treatment-border);
                    }
                }
            }
        }

        & + & {
            margin-left: var(--setting-hint-spacing);
        }

        // .entry__setting-hint__icon
        &__icon {
            fill: var(--popup-header-hint-icon);
            height: 100%;
            width: auto;

            // .entry__setting__icon--opacity-partial
            &--opacity-partial {
                display: block;

                [data-opacity="0"] &,
                [data-opacity="1"] & {
                    display: none;
                }
            }

            // .entry__setting__icon--opacity-none
            &--opacity-none {
                display: none;

                [data-opacity="0"] & {
                    display: block;
                }
            }
        }
    }

    // .entry__primary-ui
    &__primary-ui {
        align-items: center;
        border-top: 1px solid var(--popup-entry-header-border);
        display: flex;
    }

    // .entry__input-container
    &__input-container {
        $input-container: &;

        background-color: var(--popup-entry-input-background);
        border-radius: var(--input-radius);
        flex: 1 1 100%;
        margin: 10px 0 10px 8px;
        position: relative;
        overflow: hidden;

        &::before {
            background-color: var(--popup-entry-input-accent);
            bottom: 0;
            content: "";
            height: 2px;
            left: 0;
            pointer-events: none;
            position: absolute;
            transform: scaleX(0);
            transition: transform 0.35s;
            width: 100%;

            @at-root #{$input-container}:focus-within::before {
                transform: scaleX(1);
            }
        }
    }

    // .entry__domain-input
    &__domain-input {
        padding: 0 0 0 8px;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    // .entry__settings-toggle
    &__settings-toggle {
        $settings-toggle: &;

        border-radius: 50%;
        flex: 0 0 auto;
        margin: 0 4px;
        padding: 2px;
        position: relative;
        overflow: hidden;

        &::before {
            background-color: var(--popup-entry-action-highlight);
            content: "";
            height: 100%;
            left: 50%;
            opacity: 0;
            position: absolute;
            pointer-events: none;
            top: 50%;
            transition: opacity 0.35s;
            transform: translate(-50%, -50%);
            width: 100%;
            z-index: 0;

            @at-root {
                #{$settings-toggle}:not([data-action-active="true"]) {
                    &:hover::before,
                    &:focus::before,
                    &:active::before {
                        opacity: 1;
                    }
                }
            }
        }

        &[data-action-active="true"] {
            background-color: var(--popup-icon-fill);
        }

        // .entry__settings-toggle__icon
        &__icon {
            display: block;
            position: relative;
            transition: transform 0.35s;

            #{$settings-toggle}[data-action-active="true"] & {
                transform: rotate(150deg);
            }

            // .entry__settings-toggle__icon__path-1
            &__path-1 {
                fill: var(--popup-icon-fill);

                #{$settings-toggle}[data-action-active="true"] & {
                    fill: var(--popup-entry-background);
                }
            }
        }
    }

    // .entry__settings-drawer
    &__settings-drawer {
        align-items: center;
        background-color: var(--popup-entry-input-background);
        display: flex;
        height: 0;
        justify-content: flex-end;
        overflow: hidden;
        padding: 0 6px;
        transition: height 0.35s;

        &[data-is-open="true"] {
            height: 48px;
        }
    }

    --setting-size: 40px;
    --setting-border-radius: 4px;

    // .entry__setting-group
    &__setting-group {
        $entry-setting-group: &;

        align-items: center;
        display: flex;
        flex: 0 0 auto;
        position: relative;

        & + & {
            margin-left: 10px;
        }

        // .entry__setting-group--opacity
        &--opacity {
            flex: 1 1 auto;
        }

        // .entry__setting-group__effects
        &__effects {
            border: 1px solid var(--popup-entry-action-highlight);
            border-radius: var(--setting-border-radius);
            height: var(--setting-size);
            left: 50%;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 0.35s;
            width: 100%;

            #{$entry-setting-group}:hover &,
            #{$entry-setting-group}:focus-within & {
                opacity: 1;
            }
        }
    }

    // .entry__setting
    &__setting {
        $entry-setting: &;

        align-items: center;
        display: flex;
        height: var(--setting-size);
        margin: 0;
        min-width: var(--setting-size);
        position: relative;

        // .entry__setting--opacity-range
        &--opacity-range {
            flex: 1 1 auto;
        }

        // .entry__setting__input
        &__input {
            height: 100%;
            margin: 0;
            position: relative;
            z-index: 1;
            width: 100%;

            &[disabled] {
                cursor: not-allowed;
                opacity: 0.5;
            }

            // Remove Firefox-specific focus border in favour of our own styles.
            &::-moz-focus-inner {
                border: 0;
            }

            // .entry__setting__input--opacity-range
            &--opacity-range {
                cursor: pointer;
                padding: 0 8px;
                width: 100%;
                -webkit-appearance: none;

                // Remove Firefox-specific focus border in favour of our own
                // styles.
                &::-moz-focus-outer {
                    border: 0;
                }

                &::-moz-range-thumb {
                    background-color: var(--popup-icon-fill);
                    border: 0;
                    border-radius: 2px;
                    height: 20px;
                    width: 6px;
                }

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    background-color: var(--popup-icon-fill);
                    border: 0;
                    border-radius: 2px;
                    height: 20px;
                    width: 6px;
                }

                &::-moz-range-track {
                    background-color: var(--popup-entry-background);
                    border-radius: 2px;
                    height: 4px;
                }

                &::-webkit-slider-runnable-track {
                    -webkit-appearance: none;
                    align-items: center;
                    border-radius: 2px;
                    background-color: var(--popup-entry-background);
                    display: flex;
                    height: 4px;
                }
            }
        }

        // .entry__setting__effects
        &__effects {
            background-color: var(--popup-entry-action-highlight);
            height: var(--setting-size);
            left: 50%;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 0.35s;
            width: 100%;
            z-index: 0;

            #{$entry-setting}--delete & {
                background-color: var(--popup-entry-action-warning);
            }

            #{$entry-setting}:first-child & {
                border-bottom-left-radius: var(--setting-border-radius);
                border-top-left-radius: var(--setting-border-radius);
            }

            // Target both the last and second-to-last child, as the 'effects'
            // div is always expected to be present on setting groups.
            #{$entry-setting}:last-child &,
            #{$entry-setting}:nth-last-child(2) & {
                border-bottom-right-radius: var(--setting-border-radius);
                border-top-right-radius: var(--setting-border-radius);
            }

            #{$entry-setting}__input:hover + &,
            #{$entry-setting}__input:active + &,
            #{$entry-setting}__input:focus + & {
                opacity: 1;
            }
        }

        // .entry__setting__icon
        &__icon {
            margin: auto;
            position: relative;

            // .entry__setting__icon--opacity-full
            &--opacity-full {
                display: none;

                [data-opacity="1"] & {
                    display: block;
                }
            }

            // .entry__setting__icon--opacity-partial
            &--opacity-partial {
                display: block;

                [data-opacity="0"] &,
                [data-opacity="1"] & {
                    display: none;
                }
            }

            // .entry__setting__icon--opacity-none
            &--opacity-none {
                display: none;

                [data-opacity="0"] & {
                    display: block;
                }
            }

            // .entry__setting__icon--colorization-enabled
            &--colorization-enabled {
                display: block;

                [data-colorization-enabled="false"] & {
                    display: none;
                }
            }

            // .entry__setting__icon--colorization-disabled
            &--colorization-disabled {
                display: none;

                [data-colorization-enabled="false"] & {
                    display: block;
                }
            }

            // .entry__setting__icon__path-1
            &__path-1 {
                fill: var(--popup-icon-fill);
            }

            // .entry__setting__icon__path-2
            &__path-2 {
                fill: var(--popup-icon-fill);

                button:not([disabled]) & {
                    #{$entry-setting}--background-color & {
                        fill: var(--popup-entry-treatment-background);
                    }

                    #{$entry-setting}--border-color & {
                        fill: var(--popup-entry-treatment-border);
                    }
                }
            }
        }
    }

    // .entry__picker-modal
    &__picker-modal {
        animation-duration: 0.35s;
        animation-fill-mode: forwards;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        visibility: hidden;
        width: 100vw;
        z-index: 1;

        &[data-animate="in"] {
            animation-name: fadeModalIn;
        }

        &[data-animate="out"] {
            animation-name: fadeModalOut;
        }

        @keyframes fadeModalIn {
            0% {
                opacity: 0;
                visibility: hidden;
            }

            1% {
                opacity: 0;
                visibility: visible;
            }

            100% {
                opacity: 1;
                visibility: visible;
            }
        }

        @keyframes fadeModalOut {
            0% {
                opacity: 1;
                visibility: visible;
            }

            99% {
                opacity: 0;
                visibility: visible;
            }

            100% {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    // .entry__picker-scrim
    &__picker-scrim {
        background-color: var(--popup-modal-scrim);
        height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100vw;
    }

    // .entry__picker-container
    &__picker-container {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    // .entry__picker
    &__picker {
        --picker-border-radius: 4px;

        &#{&} {
            border-radius: var(--picker-border-radius);
            box-shadow: var(--shadow-elevation-1);
            background-color: var(--popup-entry-background);
        }

        // .entry__picker__slider
        &__slider {
            &#{&} {
                border-radius: var(--input-radius);
                box-shadow: none;
            }

            &--alpha {
                &#{&} {
                    display: none;
                }
            }
        }

        // .entry__picker__saturation-lightness
        &__saturation-lightness {
            &#{&} {
                border-radius: var(--input-radius);
                box-shadow: none;
            }
        }

        // .entry__picker__editor
        &__editor {
            // .entry__picker__editor__input
            &__input {
                &#{&} {
                    background-color: var(--popup-entry-input-background);
                    border-radius: var(--input-radius);
                    box-shadow: none;
                    color: var(--color-text);
                }
            }
        }

        // .entry__picker__sample
        &__sample {
            &#{&} {
                background: transparent;
                border-radius: var(--input-radius);
                box-shadow: none;
                overflow: hidden;
            }
        }

        // .entry__picker__button
        &__button {
            &#{&} {
                background: transparent;
                border-radius: var(--action-radius);
                box-shadow: none;
                display: flex;
                padding: 0;

                &:hover,
                &:focus,
                &:active {
                    background: var(--popup-entry-action-highlight);
                }
            }

            // .entry__picker__button__icon
            &__icon {
                &#{&} {
                    margin: auto;
                    fill: var(--popup-icon-fill);
                }
            }
        }
    }
}

/**
 * The action bar near the bottom of the popup window.
 */
.action-bar {
    background-color: var(--popup-action-bar-background);
    border: 2px solid var(--popup-action-bar-border);
    border-radius: calc(var(--popup-action-bar-height) / 2);
    bottom: var(--popup-action-bar-padding);
    display: flex;
    height: 40px;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    position: fixed;
    z-index: 1;

    // .action-bar__action
    &__action {
        $this-action: &;

        align-items: center;
        border: 0;
        cursor: pointer;
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        padding: 0 10px;
        position: relative;
        width: 110px;

        &::before {
            background-color: var(--popup-action-bar-highlight);
            content: "";
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            pointer-events: none;
            top: 0;
            transition: opacity 0.35s;
            width: 100%;
            z-index: 0;

            @at-root #{$this-action} {
                &:hover::before,
                &:focus::before,
                &:active::before {
                    opacity: 1;
                }
            }
        }

        & + & {
            border-left: 1px solid var(--popup-action-bar-border);
        }

        // .action-bar__action__icon
        &__icon {
            fill: var(--popup-icon-fill);
            position: relative;
        }

        // .action-bar__action__label
        &__label {
            color: var(--popup-action-bar-text);
            font-size: 1.2rem;
            font-weight: 300;
            letter-spacing: 0.05rem;
            margin: 0 6px 0 3px;
            position: relative;
            white-space: nowrap;
        }
    }
}

/**
 * Styles for markup provided by the TokenField library.
 * @see https://github.com/KaneCohen/tokenfield
 */
.tokenfield {
    --token-item-spacing: 5px;

    // .tokenfield-set
    &-set {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        // .tokenfield-set-item
        &-item {
            --token-height: 20px;
            --token-border-width: 2px;
            --token-border-radius: 3px;

            align-items: center;
            border: var(--token-border-width) solid
                var(--popup-entry-domain-token-border);
            border-radius: var(--token-border-radius);
            color: var(--popup-entry-domain-token-text);
            display: flex;
            float: left;
            font-size: 1.2rem;
            height: calc(var(--token-height) + var(--token-border-width) * 2);
            margin: var(--token-item-spacing) 0 0 var(--token-item-spacing);
            max-width: calc(100% - var(--token-item-spacing) * 2);

            &.focused {
                background-color: var(--popup-entry-domain-token-active);
            }

            .item-label {
                cursor: pointer;
                line-height: var(--token-height);
                overflow: hidden;
                padding: 0 6px;
                text-overflow: ellipsis;
            }

            .item-remove {
                align-items: center;
                background-color: var(--popup-entry-domain-token-border);
                border-radius: 0 var(--token-border-radius)
                    var(--token-border-radius) 0;
                color: var(--popup-entry-input-background);
                display: flex;
                flex: 0 0 auto;
                font-size: 1.6rem;
                font-weight: 300;
                height: calc(
                    var(--token-height) + var(--token-border-width) * 2
                );
                justify-content: center;
                margin-right: calc(var(--token-border-width) * -1);
                text-decoration: none;
                width: 20px;

                &:hover,
                &:active,
                &:focus {
                    background-color: var(--popup-entry-action-warning);
                    color: var(--popup-entry-domain-token-remove-text);
                }
            }
        }
    }

    // .tokenfield-input
    &-input {
        float: left;
        font-family: "Open Sans", sans-serif;
        font-size: 1.2rem;
        min-height: calc(24px + var(--token-item-spacing) * 2);
        margin-left: var(--token-item-spacing);
    }

    // Ensure the tokenfield's resizer (which controls when the input wraps to
    // the next line) uses the same font as the input.
    [id^="tokenfield-sizer"] {
        font-family: "Open Sans", sans-serif;
        font-size: 1.2rem;
    }
}

/**
 * Styles for markup provided by the Tippy.js library.
 * @see https://github.com/atomiks/tippyjs
 */
.tippy-box {
    font-size: 1.2rem;
}

/**
 * The HTML contents for a tooltip.
 */
.tooltip-contents {
    max-width: 75vw;
    padding: 4px 0;

    // .tooltip-contents__section
    &__section {
        & + & {
            margin-top: 8px;
        }

        &[data-label]::before {
            content: attr(data-label);
            display: block;
            font-size: 0.8rem;
            font-weight: 300;
            letter-spacing: 0.05rem;
            margin-bottom: 2px;
            text-transform: uppercase;
        }
    }
}

[data-tippy-contents] {
    display: none;
}
