@use 'reset';
@use 'variables';
@use 'common';
@use '../../node_modules/tippy.js/dist/tippy';

html,
body {
    background-color: var(--color-entry);
    border-radius: 2px;
    overflow: hidden;
}

main {
    background-color: var(--color-entry-container);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

/**
 * The title bar at the top of the popup interface that contains external links
 * to extension-related resources.
 */
.title-bar {
    --title-bar-height: 40px;
    --title-bar-action-size: 32px;
    --title-bar-action-radius: 3px;
    --title-bar-action-spacing: calc(
        (var(--title-bar-height) - var(--title-bar-action-size)) / 2
    );
    --color-title-bar-background: var(--color-entry);
    --color-title-bar-accent: hsl(295, 35%, 50%);
    --color-title-bar-action-highlight: var(--color-action-highlight);

    align-items: center;
    background-color: var(--color-title-bar-background);
    border-bottom: 2px solid var(--color-title-bar-accent);
    box-shadow: var(--shadow-elevation-1);
    display: flex;
    height: var(--title-bar-height);
    padding: 0 var(--title-bar-action-spacing);

    // .title-bar__logo
    &__logo {
        height: 32px;
        padding: 4px 0;
        width: 32px;

        img {
            display: block;
            margin: 0 auto;
            max-height: 100%;
            max-width: 100%;
        }
    }

    // .title-bar__action-container
    &__action-container {
        display: flex;
        margin-left: auto;
    }

    // .title-bar__action
    &__action {
        $title-bar-action: &;

        align-items: center;
        border-radius: var(--title-bar-action-radius);
        display: flex;
        height: var(--title-bar-action-size);
        justify-content: center;
        width: var(--title-bar-action-size);
        overflow: hidden;
        position: relative;

        &::before {
            background-color: var(--color-action-highlight);
            content: "";
            height: 100%;
            left: 50%;
            opacity: 0;
            position: absolute;
            pointer-events: none;
            top: 50%;
            transition: opacity 0.35s;
            translate: -50% -50%;
            width: 100%;
            z-index: 0;

            @at-root {
                #{$title-bar-action}:hover::before,
                #{$title-bar-action}:focus::before,
                #{$title-bar-action}:active::before {
                    opacity: 1;
                }
            }
        }

        &[disabled] {
            cursor: not-allowed;
            opacity: 0.5;
        }

        & + & {
            margin-left: 2px;
        }

        // .title-bar__action__icon
        &__icon {
            fill: var(--color-icon-fill);
            width: 18px;
        }
    }
}

/**
 * The container for the list of tailoring entries.
 */
.entry-container {
    flex: 1 1 auto;
    overflow: scroll;
    position: relative;
    scrollbar-width: none;
    z-index: 1;
}

/**
 * Individual tailoring entries.
 */
.entry {
    $thisEntry: &;
    --entry-height: auto;

    background-color: var(--color-entry);
    display: flex;
    flex-direction: column;
    height: var(--entry-height);
    position: relative;

    &::after {
        bottom: 0;
        content: "";
        box-shadow: var(--shadow-elevation-1);
        height: 1px;
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    &:last-child {
        margin-bottom: calc(
            var(--action-bar-height) + (var(--action-bar-padding) * 2)
        );
    }

    &[data-is-being-inserted="true"] {
        animation: insertEntry 350ms forwards;
        pointer-events: none;
    }

    // Fade-in animation for entry insertion.
    @keyframes insertEntry {
        0% {
            opacity: 0;
            overflow: visible;
        }

        100% {
            opacity: 1;
            overflow: hidden;
        }
    }

    &[data-is-being-deleted="true"] {
        animation: deleteEntry 700ms forwards;
        pointer-events: none;
    }

    // Slide-and-shrink animation for entry deletion.
    @keyframes deleteEntry {
        // Begin with unaltered values. Height is set to a static value with
        // JavaScript before triggering the animation via data attribute.
        0% {
            height: var(--entry-height);
            opacity: 1;
            overflow: visible;
            translate: 0;
        }

        // Slide the entry out to the right and set its overflow to hidden to
        // prevent any child elements from propping the entry container open.
        50% {
            height: var(--entry-height);
            opacity: 1;
            overflow: hidden;
            translate: 100%;
        }

        // Shrink the entry down to nothing. JavaScript will listen for the
        // animationend event and finally remove the entry from the DOM.
        100% {
            height: 0;
            opacity: 0;
            overflow: hidden;
            translate: 100%;
        }
    }

    & + & {
        border-top: 1px solid var(--color-entry-divider);
    }

    // .entry__primary-ui
    &__primary-ui {
        align-items: center;
        display: flex;
    }

    // .entry__sort-handle
    &__sort-handle {
        cursor: move;
        flex: 0 0 auto;

        // .entry__sort-handle__icon
        &__icon {
            display: block;
        }
    }

    // .entry__input-container
    &__input-container {
        $input-container: &;

        background-color: var(--color-entry-input);
        border-radius: var(--input-radius);
        flex: 1 1 100%;
        margin: 15px 0 15px 2px;
        position: relative;
        overflow: hidden;

        &::before {
            background-color: var(--color-input-highlight);
            bottom: 0;
            content: "";
            height: 2px;
            left: 0;
            pointer-events: none;
            position: absolute;
            scale: 0 1;
            transition: scale 0.35s;
            width: 100%;

            @at-root #{$input-container}:focus-within::before {
                scale: 1 1;
            }
        }
    }

    // .entry__domain-input
    &__domain-input {
        padding: 0 0 0 8px;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    // .entry__settings-toggle
    &__settings-toggle {
        $settings-toggle: &;

        border-radius: 50%;
        flex: 0 0 auto;
        margin: 0 4px;
        padding: 2px;
        position: relative;
        overflow: hidden;

        &::before {
            background-color: var(--color-action-highlight);
            content: "";
            height: 100%;
            left: 50%;
            opacity: 0;
            position: absolute;
            pointer-events: none;
            top: 50%;
            transition: opacity 0.35s;
            translate: -50% -50%;
            width: 100%;
            z-index: 0;

            @at-root {
                #{$settings-toggle}:hover::before,
                #{$settings-toggle}:focus::before,
                #{$settings-toggle}:active::before {
                    opacity: 1;
                }
            }
        }

        &[data-action-active="true"] {
            background-color: var(--color-icon-fill);
        }

        // .entry__settings-toggle__icon
        &__icon {
            display: block;
            transition: transform 0.35s;

            #{$settings-toggle}[data-action-active="true"] & {
                transform: rotate(150deg);
            }

            // .entry__settings-toggle__icon__path-1
            &__path-1 {
                fill: var(--color-icon-fill);

                #{$settings-toggle}[data-action-active="true"] & {
                    fill: var(--color-entry);
                }
            }
        }
    }

    // .entry__settings-drawer
    &__settings-drawer {
        align-items: center;
        background-color: var(--color-entry-divider);
        display: flex;
        height: 0;
        justify-content: flex-end;
        overflow: hidden;
        padding: 0 6px;
        transition: height 0.35s;

        &[data-is-open="true"] {
            height: 48px;
        }
    }

    --setting-size: 40px;
    --setting-border-radius: 4px;

    // .entry__setting-group
    &__setting-group {
        $entry-setting-group: &;

        align-items: center;
        display: flex;
        flex: 0 0 auto;
        position: relative;

        & + & {
            margin-left: 10px;
        }

        // .entry__setting-group--opacity
        &--opacity {
            flex: 1 1 auto;
        }

        // .entry__setting-group__effects
        &__effects {
            border: 1px solid var(--color-button-highlight-settings);
            border-radius: var(--setting-border-radius);
            height: var(--setting-size);
            left: 50%;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 50%;
            translate: -50% -50%;
            transition: opacity 0.35s;
            width: 100%;

            #{$entry-setting-group}:hover &,
            #{$entry-setting-group}:focus-within & {
                opacity: 1;
            }
        }
    }

    // .entry__setting
    &__setting {
        $entry-setting: &;

        align-items: center;
        display: flex;
        height: var(--setting-size);
        margin: 0;
        min-width: var(--setting-size);
        position: relative;

        // .entry__setting--opacity-range
        &--opacity-range {
            flex: 1 1 auto;
        }

        // .entry__setting__input
        &__input {
            height: 100%;
            margin: 0;
            position: relative;
            z-index: 1;
            width: 100%;

            &[disabled] {
                cursor: not-allowed;
                opacity: 0.5;
            }

            // Remove Firefox-specific focus border in favour of our own styles.
            &::-moz-focus-inner {
                border: 0;
            }

            // .entry__setting__input--opacity-range
            &--opacity-range {
                cursor: pointer;
                padding: 0 8px;

                // Remove Firefox-specific focus border in favour of our own
                // styles.
                &::-moz-focus-outer {
                    border: 0;
                }

                &::-moz-range-thumb {
                    background-color: var(--color-icon-fill);
                    border: 0;
                    border-radius: 2px;
                    height: 20px;
                    width: 6px;
                }

                &::-moz-range-track {
                    background-color: var(--color-entry);
                    height: 4px;
                }
            }
        }

        // .entry__setting__effects
        &__effects {
            background-color: var(--color-button-highlight-settings);
            height: var(--setting-size);
            left: 50%;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 50%;
            translate: -50% -50%;
            transition: opacity 0.35s;
            width: 100%;
            z-index: 0;

            #{$entry-setting}--delete & {
                background-color: var(--color-button-highlight-warning);
            }

            #{$entry-setting}:first-child & {
                border-bottom-left-radius: var(--setting-border-radius);
                border-top-left-radius: var(--setting-border-radius);
            }

            // Target both the last and second-to-last child, as the 'effects'
            // div is always expected to be present on setting groups.
            #{$entry-setting}:last-child &,
            #{$entry-setting}:nth-last-child(2) & {
                border-bottom-right-radius: var(--setting-border-radius);
                border-top-right-radius: var(--setting-border-radius);
            }

            #{$entry-setting}__input:hover + &,
            #{$entry-setting}__input:active + &,
            #{$entry-setting}__input:focus + & {
                opacity: 1;
            }
        }

        // .entry__setting__icon
        &__icon {
            margin: auto;
            position: relative;

            // .entry__setting__icon--opacity-on
            &--opacity-on {
                display: block;

                [data-opacity-on="false"] & {
                    display: none;
                }
            }

            // .entry__setting__icon--opacity-off
            &--opacity-off {
                display: none;

                [data-opacity-on="false"] & {
                    display: block;
                }
            }

            // .entry__setting__icon--colorization-enabled
            &--colorization-enabled {
                display: block;

                [data-colorization-enabled="false"] & {
                    display: none;
                }
            }

            // .entry__setting__icon--colorization-disabled
            &--colorization-disabled {
                display: none;

                [data-colorization-enabled="false"] & {
                    display: block;
                }
            }

            // .entry__setting__icon__path-1
            &__path-1 {
                fill: var(--color-icon-fill);
            }

            // .entry__setting__icon__path-2
            &__path-2 {
                fill: var(--color-icon-fill);

                button:not([disabled]) & {
                    #{$entry-setting}--background-color & {
                        fill: var(--color-icon-fill-background-picker);
                    }

                    #{$entry-setting}--border-color & {
                        fill: var(--color-icon-fill-border-picker);
                    }
                }
            }
        }
    }

    // .entry__picker-modal
    &__picker-modal {
        animation-duration: 0.35s;
        animation-fill-mode: forwards;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        visibility: hidden;
        width: 100vw;
        z-index: 1;

        &[data-is-visible="true"] {
            animation-name: fadeModalIn;
        }

        &[data-is-visible="false"] {
            animation-name: fadeModalOut;
        }

        @keyframes fadeModalIn {
            0% {
                opacity: 0;
                visibility: hidden;
            }

            1% {
                opacity: 0;
                visibility: visible;
            }

            100% {
                opacity: 1;
                visibility: visible;
            }
        }

        @keyframes fadeModalOut {
            0% {
                opacity: 1;
                visibility: visible;
            }

            99% {
                opacity: 0;
                visibility: visible;
            }

            100% {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    // .entry__picker-scrim
    &__picker-scrim {
        background-color: var(--color-picker-scrim);
        height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100vw;
    }

    // .entry__picker-container
    &__picker-container {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    // .entry__picker
    &__picker {
        --picker-border-radius: 4px;

        &#{&} {
            border-radius: var(--picker-border-radius);
            box-shadow: var(--shadow-elevation-1);
            background-color: var(--color-entry);
        }

        // .entry__picker__slider
        &__slider {
            &#{&} {
                border-radius: var(--input-radius);
                box-shadow: none;
            }

            &--alpha {
                &#{&} {
                    display: none;
                }
            }
        }

        // .entry__picker__saturation-lightness
        &__saturation-lightness {
            &#{&} {
                border-radius: var(--input-radius);
                box-shadow: none;
            }
        }

        // .entry__picker__editor
        &__editor {
            // .entry__picker__editor__input
            &__input {
                &#{&} {
                    background-color: var(--color-entry-input);
                    border-radius: var(--input-radius);
                    box-shadow: none;
                    color: var(--color-text);
                }
            }
        }

        // .entry__picker__sample
        &__sample {
            &#{&} {
                background: transparent;
                border-radius: var(--input-radius);
                box-shadow: none;
                overflow: hidden;
            }
        }

        // .entry__picker__button
        &__button {
            &#{&} {
                background: transparent;
                border-radius: var(--action-radius);
                box-shadow: none;
                display: flex;
                padding: 0;

                &:hover,
                &:focus,
                &:active {
                    background: var(--color-action-highlight);
                }
            }

            // .entry__picker__button__icon
            &__icon {
                &#{&} {
                    margin: auto;
                    fill: var(--color-icon-fill);
                }
            }
        }
    }
}

/**
 * The action bar near the bottom of the popup window.
 */
.action-bar {
    background-color: var(--color-action-bar);
    border-radius: calc(var(--action-bar-height) / 2);
    bottom: var(--action-bar-padding);
    box-shadow: var(--shadow-elevation-1);
    display: flex;
    height: 40px;
    left: 50%;
    translate: -50%;
    overflow: hidden;
    position: fixed;
    z-index: 1;

    &:hover,
    &:focus-within {
        box-shadow: var(--shadow-elevation-2);
    }

    // .action-bar__action
    &__action {
        align-items: center;
        border: 0;
        cursor: pointer;
        display: flex;
        flex: 1 1 auto;
        padding: 0 20px;

        &:hover,
        &:focus,
        &:active {
            background-color: var(--color-action-bar-highlight);
        }

        // .action-bar__action__icon
        &__icon {
            fill: var(--color-icon-fill);
        }

        // .action-bar__action__label
        &__label {
            color: var(--color-button-text);
            font-size: 1.2rem;
            font-weight: 300;
            letter-spacing: 0.05rem;
            margin: 0 6px;
        }
    }
}

/**
 * Styles for markup provided by the TokenField library.
 * @see https://github.com/KaneCohen/tokenfield
 */
.tokenfield {
    --token-item-spacing: 5px;

    // .tokenfield-set
    &-set {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        // .tokenfield-set-item
        &-item {
            --token-border-width: 2px;
            --token-border-radius: 3px;

            align-items: center;
            border: var(--token-border-width) solid
                var(--color-domain-token-border);
            border-radius: var(--token-border-radius);
            color: var(--color-domain-token-text);
            display: flex;
            float: left;
            font-size: 1.2rem;
            height: 24px;
            margin: var(--token-item-spacing) 0 0 var(--token-item-spacing);
            max-width: calc(100% - var(--token-item-spacing) * 2);

            &.focused {
                background-color: var(--color-domain-token-active);
            }

            .item-label {
                cursor: pointer;
                overflow: hidden;
                padding: 0 8px;
                text-overflow: ellipsis;
            }

            .item-remove {
                align-items: center;
                background-color: var(--color-domain-token-border);
                border-radius: 0 var(--token-border-radius)
                    var(--token-border-radius) 0;
                color: var(--color-entry-input);
                display: flex;
                flex: 0 0 auto;
                font-size: 1.6rem;
                font-weight: 300;
                height: calc(100% + var(--token-border-width) * 2);
                justify-content: center;
                margin-right: calc(var(--token-border-width) * -1);
                text-decoration: none;
                width: 20px;

                &:hover,
                &:active,
                &:focus {
                    background-color: var(--color-domain-token-remove-active);
                    color: var(--color-domain-token-remove-text);
                }
            }
        }
    }

    // .tokenfield-input
    &-input {
        float: left;
        font-size: 1.2rem;
        min-height: calc(24px + var(--token-item-spacing) * 2);
        padding: var(--token-item-spacing);
    }
}

/**
 * Styles for markup provided by the Tippy.js library.
 * @see https://github.com/atomiks/tippyjs
 */
.tippy-box {
    font-size: 12px;
}

/**
 * The HTML contents for a tooltip.
 */
.tooltip-contents {
    padding-top: 4px;
    max-width: 75vw;

    // .tooltip-contents__section
    &__section {
        & + & {
            margin-top: 6px;
        }

        &[data-label]::before {
            content: attr(data-label);
            display: block;
            letter-spacing: 0.05rem;
            font-size: 0.8rem;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}

[data-tippy-contents] {
    display: none;
}
