doctype html

html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="../styles/popup.css")

        style(type='text/css').
            :root {
                --loading-indicator-size: 48px;
            }

            body {
                height: 420px;
                min-width: 374px;
                position: relative;
            }

            .loading-indicator {
                align-items: center;
                animation: linear 2s rotate infinite;
                background-color: white;
                border-radius: 50%;
                display: flex;
                height: var(--loading-indicator-size);
                justify-content: center;
                left: calc(50% - var(--loading-indicator-size) / 2);
                position: absolute;
                top: calc(50% - var(--loading-indicator-size) / 2);
                width: var(--loading-indicator-size);
                z-index: 0;
                transition: opacity 0.5s;
            }

            .loading-indicator::after {
                background-color: hsl(240, 3%, 30%);
                border-radius: 50%;
                content: '';
                display: block;
                height: calc(var(--loading-indicator-size) + 2px);
                width: calc(var(--loading-indicator-size) - 6px);
                margin-top: 0px;
            }

            body[data-is-loading="false"] .loading-indicator {
                opacity: 0;
            }

            @keyframes rotate {
                to { transform: rotate(360deg); }
            }

    body(data-is-loading="true")
        div(class="loading-indicator")

        template(id="tailoring-entry")
            div(class="entry js-entry")
                div(class="entry__primary-ui")
                    div(class="entry__sort-handle js-sort-handle")
                        svg(class="entry__sort-handle__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                            path(fill="none" d="M0 0h24v24H0V0z")
                            path(fill="hsla(0, 100%, 100%, .25)" d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z")

                    div(class="entry__input-container")
                        input(class="entry__domain-input js-entry-domain-input" type="text" placeholder="domains")

                    button(class="entry__settings-toggle" data-click-action="toggleSettingsDrawer" data-action-active="false" aria-label="Settings" data-tippy-placement="left" data-tippy)
                        svg(class="entry__settings-toggle__icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24")
                            path(fill="none" d="M0 0h24v24H0V0z")
                            path(class="entry__settings-toggle__icon__path-1" d="M19.14,12.94c0.04-0.3,0.06-0.61,0.06-0.94c0-0.32-0.02-0.64-0.07-0.94l2.03-1.58c0.18-0.14,0.23-0.41,0.12-0.61 l-1.92-3.32c-0.12-0.22-0.37-0.29-0.59-0.22l-2.39,0.96c-0.5-0.38-1.03-0.7-1.62-0.94L14.4,2.81c-0.04-0.24-0.24-0.41-0.48-0.41 h-3.84c-0.24,0-0.43,0.17-0.47,0.41L9.25,5.35C8.66,5.59,8.12,5.92,7.63,6.29L5.24,5.33c-0.22-0.08-0.47,0-0.59,0.22L2.74,8.87 C2.62,9.08,2.66,9.34,2.86,9.48l2.03,1.58C4.84,11.36,4.8,11.69,4.8,12s0.02,0.64,0.07,0.94l-2.03,1.58 c-0.18,0.14-0.23,0.41-0.12,0.61l1.92,3.32c0.12,0.22,0.37,0.29,0.59,0.22l2.39-0.96c0.5,0.38,1.03,0.7,1.62,0.94l0.36,2.54 c0.05,0.24,0.24,0.41,0.48,0.41h3.84c0.24,0,0.44-0.17,0.47-0.41l0.36-2.54c0.59-0.24,1.13-0.56,1.62-0.94l2.39,0.96 c0.22,0.08,0.47,0,0.59-0.22l1.92-3.32c0.12-0.22,0.07-0.47-0.12-0.61L19.14,12.94z M12,15.6c-1.98,0-3.6-1.62-3.6-3.6 s1.62-3.6,3.6-3.6s3.6,1.62,3.6,3.6S13.98,15.6,12,15.6z")

                div(class="entry__settings-drawer js-entry-settings-drawer" data-is-open="false")
                    div(class="entry__setting-group entry__setting-group--opacity")
                        div(class="entry__setting entry__setting--opacity-toggle")
                            button(class="entry__setting__input entry__setting__input--opacity-toggle js-entry-opacity-toggle" data-click-action="toggleOpacity" data-opacity-on="true" aria-label="Toggle opacity" data-tippy)
                                svg(class="entry__setting__icon entry__setting__icon--opacity-on" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                    path(d="M0 0h24v24H0z" fill="none")
                                    path(class="entry__setting__icon__path-1" d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z")
                                svg(class="entry__setting__icon entry__setting__icon--opacity-off" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                    path(d="M0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0z" fill="none")
                                    path(class="entry__setting__icon__path-1" d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z")
                            div(class="entry__setting__effects")

                        div(class="entry__setting entry__setting--opacity-range")
                            input(class="entry__setting__input entry__setting__input--opacity-range js-entry-opacity-input" type="range" min="0" max="1" step=".01" value="1" aria-label="Adjust opacity")
                            div(class="entry__setting__effects")

                        div(class="entry__setting-group__effects")

                    div(class="entry__setting-group entry__setting-group--color")
                        div(class="entry__setting entry__setting--background-color")
                            button(class="entry__setting__input entry__setting__input--background" data-click-action="showBackgroundColorModal" aria-label="Set background color" data-tippy)
                                svg(class="entry__setting__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                    path(d="M0 0h24v24H0z" fill="none")
                                    path(class="entry__setting__icon__path-1" d="M16.56 8.94L7.62 0 6.21 1.41l2.38 2.38-5.15 5.15c-.59.59-.59 1.54 0 2.12l5.5 5.5c.29.29.68.44 1.06.44s.77-.15 1.06-.44l5.5-5.5c.59-.58.59-1.53 0-2.12zM5.21 10L10 5.21 14.79 10H5.21zM19 11.5s-2 2.17-2 3.5c0 1.1.9 2 2 2s2-.9 2-2c0-1.33-2-3.5-2-3.5z")
                                    path(class="entry__setting__icon__path-2" d="M0 20h24v4H0z")
                            div(class="entry__setting__effects")

                        div(class="entry__setting entry__setting--border-color")
                            button(class="entry__setting__input entry__setting__input--border" data-click-action="showBorderColorModal" aria-label="Set border color" data-tippy)
                                svg(class="entry__setting__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                    path(d="M0 0h24v24H0z" fill="none")
                                    path(class="entry__setting__icon__path-1" d="M17,16 L19,16 L19,14 L17,14 L17,16 Z M9,16 L11,16 L11,14 L9,14 L9,16 Z M13,16 L15,16 L15,14 L13,14 L13,16 Z M17,12 L19,12 L19,10 L17,10 L17,12 Z M17,8 L19,8 L19,6 L17,6 L17,8 Z M5,1 L5,16 L7,16 L7,4 L19,4 L19,2 L5,2 L5,1 Z")
                                    path(class="entry__setting__icon__path-2" d="M0 20h24v4H0z")
                            div(class="entry__setting__effects")

                        div(class="entry__setting-group__effects")


                    div(class="entry__setting-group entry__setting-group--delete")
                        div(class="entry__setting entry__setting--delete")
                            button(class="entry__setting__input entry__setting__input--delete" data-click-action="deleteEntry" aria-label="Delete entry" data-tippy)
                                svg(class="entry__setting__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                    path(class="entry__setting__icon__path-1" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z")
                            div(class="entry__setting__effects")

                div(class="entry__picker-modal js-background-picker-modal" data-is-visible="")
                    div(class="entry__picker-scrim" data-click-action="hideBackgroundColorModal")
                    div(class="entry__picker js-background-picker")

                div(class="entry__picker-modal js-border-picker-modal" data-is-visible="")
                    div(class="entry__picker-scrim" data-click-action="hideBorderColorModal")
                    div(class="entry__picker js-border-picker")

        main(id="popup-content")
            div(class="entry-container js-entry-container")

            div(class="action-bar js-action-bar")
                button(class="action-bar__action" data-click-action="addEntry") Add New Entry

        div(id="error-content" class="hidden")
            p Error!
            p Try a different page.

        script(src="../scripts/popup.js")