doctype html

html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="../styles/popup.css")

        style(type='text/css').
            :root {
                --loading-indicator-size: 48px;
            }

            body {
                min-height: 320px;
                width: 380px;
                position: relative;
            }

            .loading-indicator {
                align-items: center;
                animation: linear 2s rotate infinite;
                background-color: white;
                border-radius: 50%;
                display: flex;
                height: var(--loading-indicator-size);
                justify-content: center;
                left: calc(50% - var(--loading-indicator-size) / 2);
                position: absolute;
                top: calc(50% - var(--loading-indicator-size) / 2);
                width: var(--loading-indicator-size);
                z-index: 0;
            }

            .loading-indicator::after {
                background-color: hsl(240, 3%, 30%);
                border-radius: 50%;
                content: '';
                display: block;
                height: calc(var(--loading-indicator-size) + 2px);
                width: calc(var(--loading-indicator-size) - 6px);
                margin-top: 0px;
            }

            @keyframes rotate {
                to { transform: rotate(360deg); }
            }

    body
        div(class="loading-indicator")

        template(id="swatch")
            li(class="swatch-wrapper js-swatch-wrapper")
                button(class="swatch js-swatch" data-click-action[]="selectTailoringTemplate")

        template(id="entry")
            li(class="entry js-entry" data-active-treatment="spotlight" data-drag-disabled="false")
                div(class="entry__primary-ui")
                    div(class="entry__sort-handle js-sort-handle")
                        svg(class="entry__sort-handle__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                            path(fill="none" d="M0 0h24v24H0V0z")
                            path(fill="hsla(0, 100%, 100%, .25)" d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z")

                    div(class="entry__input-wrapper")
                        input(class="entry__domain-input js-entry-domain-input" type="text" placeholder="domain")
                        div(class="entry__input-effects")
                        div(class="entry__color-template-button")
                            input(class="entry__input-tailoring-template js-entry-tailoring-template-id-input" type="text" hidden readonly)
                            button(class="entry__color-template-button__swatch" title="Change Template" data-click-action="toggleSwatchDrawer")

                    select(class="entry__treatment-select js-entry-treatment-select")

                    div(class="entry__action-container")
                        button(class="entry__action" data-click-action="deleteEntry" title="Delete Entry")
                            svg(class="entry__action__icon entry__action__icon--delete-entry" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                path(fill="hsla(0, 100%, 100%, .75)" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z")

                div(class="entry__swatch-drawer js-swatch-drawer")
                    ul(class="swatch-list js-swatch-list")

        template(id="entry-group")
            section(class="entry-group js-entry-group" data-treatment-type="")
                div(class="entry-group__header")
                    svg(class="entry-group__header__icon entry-group__header__icon--screen" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                        path(fill="none" d="M0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0z")
                        path(fill="hsla(0, 100%, 100%, .75)" d="M12 6c3.79 0 7.17 2.13 8.82 5.5-.59 1.22-1.42 2.27-2.41 3.12l1.41 1.41c1.39-1.23 2.49-2.77 3.18-4.53C21.27 7.11 17 4 12 4c-1.27 0-2.49.2-3.64.57l1.65 1.65C10.66 6.09 11.32 6 12 6zm-1.07 1.14L13 9.21c.57.25 1.03.71 1.28 1.28l2.07 2.07c.08-.34.14-.7.14-1.07C16.5 9.01 14.48 7 12 7c-.37 0-.72.05-1.07.14zM2.01 3.87l2.68 2.68C3.06 7.83 1.77 9.53 1 11.5 2.73 15.89 7 19 12 19c1.52 0 2.98-.29 4.32-.82l3.42 3.42 1.41-1.41L3.42 2.45 2.01 3.87zm7.5 7.5l2.61 2.61c-.04.01-.08.02-.12.02-1.38 0-2.5-1.12-2.5-2.5 0-.05.01-.08.01-.13zm-3.4-3.4l1.75 1.75c-.23.55-.36 1.15-.36 1.78 0 2.48 2.02 4.5 4.5 4.5.63 0 1.23-.13 1.77-.36l.98.98c-.88.24-1.8.38-2.75.38-3.79 0-7.17-2.13-8.82-5.5.7-1.43 1.72-2.61 2.93-3.53z")

                    svg(class="entry-group__header__icon entry-group__header__icon--suppress" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                        path(fill="none" d="M0 0h24v24H0V0z")
                        path(fill="hsla(0, 100%, 100%, .75)" d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z")

                    svg(class="entry-group__header__icon entry-group__header__icon--spotlight" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                        path(fill="none" d="M0 0h24v24H0z")
                        path(fill="hsla(0, 100%, 100%, .75)" d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z")

                    div(class="entry-group__header__title js-entry-group-title") Entry group

                    div(class="entry-group__header__action-container")
                        button(class="entry-group__header__action" data-click-action="toggleSettingsDrawer" data-action-active="false" title="Open settings")
                            svg(class="entry-group__header__action__icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24")
                                path(fill="hsla(0, 100%, 100%, .75)" d="M19.14,12.94c0.04-0.3,0.06-0.61,0.06-0.94c0-0.32-0.02-0.64-0.07-0.94l2.03-1.58c0.18-0.14,0.23-0.41,0.12-0.61 l-1.92-3.32c-0.12-0.22-0.37-0.29-0.59-0.22l-2.39,0.96c-0.5-0.38-1.03-0.7-1.62-0.94L14.4,2.81c-0.04-0.24-0.24-0.41-0.48-0.41 h-3.84c-0.24,0-0.43,0.17-0.47,0.41L9.25,5.35C8.66,5.59,8.12,5.92,7.63,6.29L5.24,5.33c-0.22-0.08-0.47,0-0.59,0.22L2.74,8.87 C2.62,9.08,2.66,9.34,2.86,9.48l2.03,1.58C4.84,11.36,4.8,11.69,4.8,12s0.02,0.64,0.07,0.94l-2.03,1.58 c-0.18,0.14-0.23,0.41-0.12,0.61l1.92,3.32c0.12,0.22,0.37,0.29,0.59,0.22l2.39-0.96c0.5,0.38,1.03,0.7,1.62,0.94l0.36,2.54 c0.05,0.24,0.24,0.41,0.48,0.41h3.84c0.24,0,0.44-0.17,0.47-0.41l0.36-2.54c0.59-0.24,1.13-0.56,1.62-0.94l2.39,0.96 c0.22,0.08,0.47,0,0.59-0.22l1.92-3.32c0.12-0.22,0.07-0.47-0.12-0.61L19.14,12.94z M12,15.6c-1.98,0-3.6-1.62-3.6-3.6 s1.62-3.6,3.6-3.6s3.6,1.62,3.6,3.6S13.98,15.6,12,15.6z")
                                path(fill="none" d="M0 0h24v24H0V0z")

                        button(class="entry-group__header__action" data-click-action="addEntry" title="Add new entry")
                            svg(class="entry-group__header__action__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                path(fill="none" d="M0 0h24v24H0z")
                                path(fill="hsla(0, 100%, 100%, .75)" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z")


                div(class="entry-group__drawer js-entry-group-drawer" data-is-open="false")

                ul(class="entry-group__list js-entry-list")

        main(id="popup-content")
            div(class="entry-group-container js-entry-group-container")

        div(id="error-content" class="hidden")
            p Error!
            p Try a different page.

        script(src="../scripts/popup.js")