doctype html

html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="../styles/popup.css")

        style(type='text/css').
            :root {
                --loading-indicator-size: 48px;
            }

            body {
                min-height: 320px;
                width: 380px;
                position: relative;
            }

            .loading-indicator {
                align-items: center;
                animation: linear 2s rotate infinite;
                background-color: white;
                border-radius: 50%;
                display: flex;
                height: var(--loading-indicator-size);
                justify-content: center;
                left: calc(50% - var(--loading-indicator-size) / 2);
                position: absolute;
                top: calc(50% - var(--loading-indicator-size) / 2);
                width: var(--loading-indicator-size);
                z-index: 0;
                transition: opacity 0.5s;
            }

            .loading-indicator::after {
                background-color: hsl(240, 3%, 30%);
                border-radius: 50%;
                content: '';
                display: block;
                height: calc(var(--loading-indicator-size) + 2px);
                width: calc(var(--loading-indicator-size) - 6px);
                margin-top: 0px;
            }

            body[data-is-loading="false"] .loading-indicator {
                opacity: 0;
            }

            @keyframes rotate {
                to { transform: rotate(360deg); }
            }

    body(data-is-loading="true")
        div(class="loading-indicator")

        template(id="tailoring-entry")
            div(class="entry js-entry")
                div(class="entry__primary-ui")
                    div(class="entry__sort-handle js-sort-handle")
                        svg(class="entry__sort-handle__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                            path(fill="none" d="M0 0h24v24H0V0z")
                            path(fill="hsla(0, 100%, 100%, .25)" d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z")

                    div(class="entry__input-container")
                        input(class="entry__domain-input js-entry-domain-input" type="text" placeholder="domains")
                        div(class="entry__input-effects")

                    button(class="entry__settings-toggle" data-click-action="toggleSettingsDrawer" data-action-active="false" title="Settings" data-tippy-placement="left" data-tippy-title)
                        svg(class="entry__settings-toggle__icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24")
                            path(fill="none" d="M0 0h24v24H0V0z")
                            path(class="entry__settings-toggle__icon__path-1" d="M19.14,12.94c0.04-0.3,0.06-0.61,0.06-0.94c0-0.32-0.02-0.64-0.07-0.94l2.03-1.58c0.18-0.14,0.23-0.41,0.12-0.61 l-1.92-3.32c-0.12-0.22-0.37-0.29-0.59-0.22l-2.39,0.96c-0.5-0.38-1.03-0.7-1.62-0.94L14.4,2.81c-0.04-0.24-0.24-0.41-0.48-0.41 h-3.84c-0.24,0-0.43,0.17-0.47,0.41L9.25,5.35C8.66,5.59,8.12,5.92,7.63,6.29L5.24,5.33c-0.22-0.08-0.47,0-0.59,0.22L2.74,8.87 C2.62,9.08,2.66,9.34,2.86,9.48l2.03,1.58C4.84,11.36,4.8,11.69,4.8,12s0.02,0.64,0.07,0.94l-2.03,1.58 c-0.18,0.14-0.23,0.41-0.12,0.61l1.92,3.32c0.12,0.22,0.37,0.29,0.59,0.22l2.39-0.96c0.5,0.38,1.03,0.7,1.62,0.94l0.36,2.54 c0.05,0.24,0.24,0.41,0.48,0.41h3.84c0.24,0,0.44-0.17,0.47-0.41l0.36-2.54c0.59-0.24,1.13-0.56,1.62-0.94l2.39,0.96 c0.22,0.08,0.47,0,0.59-0.22l1.92-3.32c0.12-0.22,0.07-0.47-0.12-0.61L19.14,12.94z M12,15.6c-1.98,0-3.6-1.62-3.6-3.6 s1.62-3.6,3.6-3.6s3.6,1.62,3.6,3.6S13.98,15.6,12,15.6z")

                div(class="entry__settings-drawer js-entry-settings-drawer" data-is-open="false")
                    div(class="entry__setting entry__setting--opacity js-entry-opacity-control")
                        svg(class="entry__setting__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                            path(d="M24 0H0v24h24V0zm0 0H0v24h24V0zM0 24h24V0H0v24z" fill="none")
                            path(class="entry__setting__icon__path-1" d="M17.66 8L12 2.35 6.34 8C4.78 9.56 4 11.64 4 13.64s.78 4.11 2.34 5.67 3.61 2.35 5.66 2.35 4.1-.79 5.66-2.35S20 15.64 20 13.64 19.22 9.56 17.66 8zM6 14c.01-2 .62-3.27 1.76-4.4L12 5.27l4.24 4.38C17.38 10.77 17.99 12 18 14H6z")
                        input(class="entry__setting__input js-entry-opacity-input" type="range" min="0" max="1" step=".01" value="1" title="Adjust opacity")

                    button(class="entry__setting entry__setting--background" data-click-action="showBackgroundColorModal" title="Set background color" data-tippy-title)
                        svg(class="entry__setting__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                            path(d="M0 0h24v24H0z" fill="none")
                            path(class="entry__setting__icon__path-1" d="M16.56 8.94L7.62 0 6.21 1.41l2.38 2.38-5.15 5.15c-.59.59-.59 1.54 0 2.12l5.5 5.5c.29.29.68.44 1.06.44s.77-.15 1.06-.44l5.5-5.5c.59-.58.59-1.53 0-2.12zM5.21 10L10 5.21 14.79 10H5.21zM19 11.5s-2 2.17-2 3.5c0 1.1.9 2 2 2s2-.9 2-2c0-1.33-2-3.5-2-3.5z")
                            path(class="entry__setting__icon__path-2" d="M0 20h24v4H0z")

                    button(class="entry__setting entry__setting--border" data-click-action="showBorderColorModal" title="Set border color" data-tippy-title)
                        svg(class="entry__setting__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                            path(d="M0 0h24v24H0z" fill="none")
                            path(class="entry__setting__icon__path-1" d="M17.75 7L14 3.25l-10 10V17h3.75l10-10zm2.96-2.96c.39-.39.39-1.02 0-1.41L18.37.29c-.39-.39-1.02-.39-1.41 0L15 2.25 18.75 6l1.96-1.96z")
                            path(class="entry__setting__icon__path-2" d="M0 20h24v4H0z")

                    button(class="entry__setting entry__setting--delete" data-click-action="deleteEntry" title="Delete entry" data-tippy-title)
                        svg(class="entry__setting__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                            path(class="entry__setting__icon__path-1" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z")

                div(class="entry__picker-modal js-background-picker-modal" data-is-visible="")
                    div(class="entry__picker-scrim" data-click-action="hideBackgroundColorModal")
                    div(class="entry__picker js-background-picker")

                div(class="entry__picker-modal js-border-picker-modal" data-is-visible="")
                    div(class="entry__picker-scrim" data-click-action="hideBorderColorModal")
                    div(class="entry__picker js-border-picker")

        template(id="entry")
            li(class="entry js-entry" data-active-treatment="spotlight" data-drag-disabled="false")
                div(class="entry__primary-ui")
                    div(class="entry__sort-handle js-sort-handle")
                        svg(class="entry__sort-handle__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                            path(fill="none" d="M0 0h24v24H0V0z")
                            path(fill="hsla(0, 100%, 100%, .25)" d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z")

                    div(class="entry__input-container")
                        input(class="entry__domain-input js-entry-domain-input" type="text" placeholder="domain")
                        div(class="entry__input-effects")

                    select(class="entry__treatment-select js-entry-treatment-select" hidden)

                    div(class="entry__action-container")
                        button(class="entry__action" data-click-action="deleteEntry" title="Delete Entry")
                            svg(class="entry__action__icon entry__action__icon--delete-entry" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                path(fill="hsla(0, 100%, 100%, .75)" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z")

        template(id="entry-group")
            section(class="entry-group js-entry-group" data-treatment-id="")
                div(class="entry-group__header")
                    svg(class="entry-group__header__icon entry-group__header__icon--screen" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                        path(fill="none" d="M0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0z")
                        path(fill="hsla(0, 100%, 100%, .75)" d="M12 6c3.79 0 7.17 2.13 8.82 5.5-.59 1.22-1.42 2.27-2.41 3.12l1.41 1.41c1.39-1.23 2.49-2.77 3.18-4.53C21.27 7.11 17 4 12 4c-1.27 0-2.49.2-3.64.57l1.65 1.65C10.66 6.09 11.32 6 12 6zm-1.07 1.14L13 9.21c.57.25 1.03.71 1.28 1.28l2.07 2.07c.08-.34.14-.7.14-1.07C16.5 9.01 14.48 7 12 7c-.37 0-.72.05-1.07.14zM2.01 3.87l2.68 2.68C3.06 7.83 1.77 9.53 1 11.5 2.73 15.89 7 19 12 19c1.52 0 2.98-.29 4.32-.82l3.42 3.42 1.41-1.41L3.42 2.45 2.01 3.87zm7.5 7.5l2.61 2.61c-.04.01-.08.02-.12.02-1.38 0-2.5-1.12-2.5-2.5 0-.05.01-.08.01-.13zm-3.4-3.4l1.75 1.75c-.23.55-.36 1.15-.36 1.78 0 2.48 2.02 4.5 4.5 4.5.63 0 1.23-.13 1.77-.36l.98.98c-.88.24-1.8.38-2.75.38-3.79 0-7.17-2.13-8.82-5.5.7-1.43 1.72-2.61 2.93-3.53z")

                    svg(class="entry-group__header__icon entry-group__header__icon--suppress" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                        path(fill="none" d="M0 0h24v24H0V0z")
                        path(fill="hsla(0, 100%, 100%, .75)" d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z")

                    svg(class="entry-group__header__icon entry-group__header__icon--spotlight" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                        path(fill="none" d="M0 0h24v24H0z")
                        path(fill="hsla(0, 100%, 100%, .75)" d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z")

                    div(class="entry-group__header__title js-entry-group-title") Entry group

                    div(class="entry-group__header__action-container")
                        button(class="entry-group__header__action" data-click-action="toggleSettingsDrawer" data-action-active="false" title="Open settings")
                            svg(class="entry-group__header__action__icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24")
                                path(fill="none" d="M0 0h24v24H0V0z")
                                path(fill="hsla(0, 100%, 100%, .75)" d="M19.14,12.94c0.04-0.3,0.06-0.61,0.06-0.94c0-0.32-0.02-0.64-0.07-0.94l2.03-1.58c0.18-0.14,0.23-0.41,0.12-0.61 l-1.92-3.32c-0.12-0.22-0.37-0.29-0.59-0.22l-2.39,0.96c-0.5-0.38-1.03-0.7-1.62-0.94L14.4,2.81c-0.04-0.24-0.24-0.41-0.48-0.41 h-3.84c-0.24,0-0.43,0.17-0.47,0.41L9.25,5.35C8.66,5.59,8.12,5.92,7.63,6.29L5.24,5.33c-0.22-0.08-0.47,0-0.59,0.22L2.74,8.87 C2.62,9.08,2.66,9.34,2.86,9.48l2.03,1.58C4.84,11.36,4.8,11.69,4.8,12s0.02,0.64,0.07,0.94l-2.03,1.58 c-0.18,0.14-0.23,0.41-0.12,0.61l1.92,3.32c0.12,0.22,0.37,0.29,0.59,0.22l2.39-0.96c0.5,0.38,1.03,0.7,1.62,0.94l0.36,2.54 c0.05,0.24,0.24,0.41,0.48,0.41h3.84c0.24,0,0.44-0.17,0.47-0.41l0.36-2.54c0.59-0.24,1.13-0.56,1.62-0.94l2.39,0.96 c0.22,0.08,0.47,0,0.59-0.22l1.92-3.32c0.12-0.22,0.07-0.47-0.12-0.61L19.14,12.94z M12,15.6c-1.98,0-3.6-1.62-3.6-3.6 s1.62-3.6,3.6-3.6s3.6,1.62,3.6,3.6S13.98,15.6,12,15.6z")

                        button(class="entry-group__header__action" data-click-action="addEntry" title="Add new entry")
                            svg(class="entry-group__header__action__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                path(fill="none" d="M0 0h24v24H0z")
                                path(fill="hsla(0, 100%, 100%, .75)" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z")

                div(class="entry-group__settings-drawer js-entry-group-settings-drawer" data-is-open="false")
                    div(class="entry-group__input-container")
                        input(class="entry-group__label-input js-treatment-label-input" type="text" placeholder="group title" maxlength="48" required title="Group title (1–48 characters)")
                        div(class="entry-group__label-input-effects")

                    div(class="entry-group__action-container")
                        button(class="entry-group__action" data-click-action="showBackgroundColorModal" title="Set Background Color")
                            svg(class="entry-group__action__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                path(d="M0 0h24v24H0z" fill="none")
                                path(class="entry-group__action__icon__path-1" d="M16.56 8.94L7.62 0 6.21 1.41l2.38 2.38-5.15 5.15c-.59.59-.59 1.54 0 2.12l5.5 5.5c.29.29.68.44 1.06.44s.77-.15 1.06-.44l5.5-5.5c.59-.58.59-1.53 0-2.12zM5.21 10L10 5.21 14.79 10H5.21zM19 11.5s-2 2.17-2 3.5c0 1.1.9 2 2 2s2-.9 2-2c0-1.33-2-3.5-2-3.5z")
                                path(class="entry-group__action__icon__path-2" d="M0 20h24v4H0z")
                        button(class="entry-group__action" data-click-action="showBorderColorModal" title="Set Border Color")
                            svg(class="entry-group__action__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                path(d="M0 0h24v24H0z" fill="none")
                                path(class="entry-group__action__icon__path-1" d="M17.75 7L14 3.25l-10 10V17h3.75l10-10zm2.96-2.96c.39-.39.39-1.02 0-1.41L18.37.29c-.39-.39-1.02-.39-1.41 0L15 2.25 18.75 6l1.96-1.96z")
                                path(class="entry-group__action__icon__path-2" d="M0 20h24v4H0z")
                        button(class="entry-group__action" data-click-action="deleteGroup" title="Delete Group")
                            svg(class="entry-group__action__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                path(class="entry-group__action__icon__path-1" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z")

                ul(class="entry-group__list js-entry-list")

                div(class="entry-group__picker-modal js-background-picker-modal" data-is-visible="false")
                    div(class="entry-group__picker-scrim" data-click-action="hideBackgroundColorModal")
                    div(class="entry-group__picker js-background-picker")

                div(class="entry-group__picker-modal js-border-picker-modal" data-is-visible="false")
                    div(class="entry-group__picker-scrim" data-click-action="hideBorderColorModal")
                    div(class="entry-group__picker js-border-picker")

        main(id="popup-content")
            div(class="entry-container js-entry-container")

            div(class="action-bar js-action-bar")
                button(class="action-bar__action" data-click-action="addEntry") Add New Entry

        div(id="error-content" class="hidden")
            p Error!
            p Try a different page.

        script(src="../scripts/popup.js")