doctype html

html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="../styles/popup.css")

        style(type='text/css').
            body {
                height: 420px;
                min-width: 374px;
            }

    body
        include includes/tailoring-entry

        main(id="popup-content")
            div(class="entry-container js-entry-container")

            div(class="action-bar js-action-bar")
                button(class="action-bar__action" data-click-action="addEntry")
                    svg(class="action-bar__action__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                        path(d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z")
                        path(d="M0 0h24v24H0z" fill="none")
                    span(class="action-bar__action__label") Add New

        div(id="error-content" class="hidden")
            p Error!
            p Try a different page.

        script(src="../scripts/popup.js")