html, body {
    background-color: #4A4A4F;
    border-radius: 2px;
    overflow: hidden;
}

body {
    width: 380px;
}

main {

    display: flex;
    flex-direction: column;
    height: 100%;
    color: #FFF;
}

:root {
    --color-button: hsl(240, 3%, 37%);
    --color-button-highlight-1: hsl(240, 2%, 44%);
    --color-button-highlight-2: hsl(240, 2%, 49%);
}

.content {
    
}

.entry-list {
    padding: 0;
    margin: 0;
}

.entry {
    height: 65px;
    display: flex;
}

.entry__input-wrapper {
    flex: 1 1 100%;
    display: flex;
    margin: 15px;
    position: relative;
    overflow: hidden;
}

.entry__domain-input {
    background-color: var(--color-button);
    padding: 0 8px;
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 2px;
}

.entry__input-effects {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 2px;
    overflow: hidden;
    pointer-events: none;
}

.entry__input-effects::after {
    content: '';
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: hsl(200, 100%, 50%);
    transform: scaleX(0);
    transition: transform .35s;
}

.entry__domain-input:focus + .entry__input-effects::after,
.entry__domain-input:active + .entry__input-effects::after {
    transform: scaleX(1);
}

.entry__action-container {
    display: flex;
    margin-left: auto;
}

.entry__action {
    width: 65px;
    display: flex;
    position: relative;
}

.entry__action::before {
    content: '';
    width: 1px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--color-button);
}

.entry__action:hover + .entry__action::before,
.entry__action:focus + .entry__action::before,
.entry__action:active + .entry__action::before {
    display: none;
}

.entry__action:hover,
.entry__action:focus,
.entry__action:active {
    background-color: var(--color-button);
    width: 65px;
    display: flex;
}

.entry__action svg {
    margin: auto;
}

.entry + .entry {
    border-top: 1px solid var(--color-button);
}

.button-bar {
    flex: 0 0 40px;
    margin-top: auto;
    display: flex;
    background-color: var(--color-button);
}

.button-bar button {
    cursor: pointer;
    flex: 1 1 auto;
    border: 0;
    color: #FFF;
    background-color: transparent;
    border-top: 1px solid var(--color-button-highlight-1);
}

.button-bar button:hover,
.button-bar button:focus,
.button-bar button:active {
    background-color: var(--color-button-highlight-1);
    border-color: var(--color-button-highlight-2);
}
  
.hidden {
    display: none;
}